[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
flake8 = "*"
importlib-metadata = "==4.13.0"
pre-commit = "*"
pytest = "7.4.4"
pytest-xdist = "*"
wheel = "0.42.0"

[requires]
python_version = "3.7.17"
